################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LumisCalendarSync/Model/OAuthHelper.ClientId.cs
/LumisCalendarSync/bin/Debug
/LumisCalendarSync/obj
/LumisCalendarSyncSetup/obj/Debug
/packages
/LumisCaleandarSync.v12.suo
/LumisCalendarSync/bin
/.vs
/LumisCalendarSyncSetup/bin
/LumisCalendarSyncSetup/obj
/LumisCaleandarSync.sln.DotSettings.user
